body {
  background-color: hsl(117, 35%, 88%);
  font-family: Arial, sans-serif;
  text-align: center;
  color: hsl(200, 20%, 20%);
  margin: 10px;
  padding: 10px;
}

h1 {
  color: hsl(109, 83%, 14%);
  text-shadow: 2px 2px 4px hsl(120, 40%, 50%);
  margin-top: 20px;
  font-size: 2.2rem;
}

hr {
  width: 80%;
  margin: 20px auto;
}

#chess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 10px;
}

#board {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  border: 6px ridge hsl(120, 53%, 43%);
  background-color: hsl(120, 25%, 75%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.square {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.square.dark {
  background-color: hsl(120, 29%, 35%);
  color: rgb(199, 123, 123);
}

.square.light {
  background-color: #F0F8FF;
  color: black;
}

.square:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px hsl(92, 41%, 52%);
  z-index: 2;
}

footer {
  background-color: hsl(135, 38%, 73%);
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: hsl(109, 83%, 14%);
  border-top: 3px solid hsl(240, 100%, 10%);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .square {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}

#black {
    color: hsl(0, 92%, 5%);
}

#white {
    color: hsl(0, 11%, 64%);
}