@media (max-width: 600px) {
  #img1, .region-img {
    width: 90%;
  }
  .btn {
    display: block;
    margin: 8px auto;
    width: 80%;
  }
  .reg, .log {
    position: static;
    display: inline-block;
    margin: 10px;
  }
}

body {
  border: 4px ridge hsl(120, 37%, 41%);
  font-family: Arial, sans-serif;
  margin: 15px;
  padding: 10px;
  background-color:  hsl(117, 35%, 88%);
  color: hsl(200, 15%, 20%);
  text-align: center;
}

h1 {
  color: hsl(62, 81%, 22%);
  border: 6px double hsl(120, 40%, 70%);
  border-radius: 12px;
  margin: 10px 0;
  padding: 8px;
  font-size: 20px;
}

p {
  line-height: 1.4;
  margin-bottom: 10px;
  color: rgb(8, 90, 63);
}

/* All footer */


footer {
  background-color: hsl(135, 38%, 73%);
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: hsl(109, 83%, 14%);
}

.btn {
  background-color: hsl(116, 68%, 68%);
  color: hsl(200, 83%, 25%);
  border: 3px solid hsl(240, 100%, 10%);
  border-radius: 10000px;
  margin: 4px;
  padding: 6px 12px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  color: hsl(37, 93%, 29%);
  background-color: hsl(84, 68%, 78%);
}

.reg, .log {
  background-color: hsl(53, 76%, 84%);
  color: hsl(0, 87%, 21%);
  border: 3px solid hsl(0, 93%, 6%);
  margin: 6px;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.reg:hover, .log:hover {
  background-color: hsl(284, 82%, 48%);
  color: white;
}

#footer {
  background-color: hsl(135, 38%, 73%);
  padding: 20px;
  text-align: center;
  border-top: 3px solid hsl(240, 100%, 10%);
}

#footer a {
  display: inline-block;
  margin: 5px;
  color: hsl(281, 83%, 25%);
  border: 2px solid hsl(270, 100%, 10%);
  border-radius: 8px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

#footer a:hover {
  background-color: hsl(109, 51%, 77%);
  color: hsl(80, 88%, 26%);
}

h2 {
  text-shadow: 1px 1px 2px hsl(120, 60%, 40%);
  border-radius: 20px;
}

footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-top: 4px solid hsl(120, 40%, 30%);
}

.links {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: hsl(197, 34%, 88%);
  color: hsl(0, 0%, 20%);
  border: 2px solid hsl(200, 80%, 30%);
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  font: oblique bold 15px cursive;
}

.links:hover {
  background-color: hsl(120, 40%, 70%);
  color: hsl(0, 0%, 10%);
}